ClientLauncher/ClientLauncher/Service References/LauncherData/LauncherData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://swganh.hooni.us/LauncherData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LauncherData" />
  <xs:import schemaLocation="http://swganh.hooni.us/LauncherData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetServers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LauncherData" minOccurs="0" name="GetServersResult" nillable="true" type="q1:ArrayOfServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LauncherData" minOccurs="0" name="theServerInfo" nillable="true" type="q2:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCurrentVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LauncherData" minOccurs="0" name="GetLatestVersionResult" nillable="true" type="q3:ArrayOfLauncherVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestExecutable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestExecutableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LauncherData" minOccurs="0" name="GetLatestExecutableResult" nillable="true" type="q4:LatestFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomTre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guServerId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomTreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LauncherData" minOccurs="0" name="GetCustomTreResult" nillable="true" type="q6:ArrayOfCustomTre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardTreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LauncherData" minOccurs="0" name="GetStandardTreResult" nillable="true" type="q7:ArrayOfStandardTre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>