ClientLauncher/Service References/LauncherData/LauncherData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LauncherData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://swganh.hooni.us/LauncherData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://swganh.hooni.us/LauncherData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://swganh.hooni.us/LauncherData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LauncherData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILauncherData_GetServers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServers" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetServers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServersResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_UpdateServer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServer" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_UpdateServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServerResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetLatestExecutable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestExecutable" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetLatestExecutable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestExecutableResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetCustomTre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomTre" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetCustomTre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomTreResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetStandardTre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTre" />
  </wsdl:message>
  <wsdl:message name="ILauncherData_GetStandardTre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardTreResponse" />
  </wsdl:message>
  <wsdl:portType name="ILauncherData">
    <wsdl:operation name="GetServers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherData/GetServers" message="tns:ILauncherData_GetServers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherData/GetServersResponse" message="tns:ILauncherData_GetServers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherData/UpdateServer" message="tns:ILauncherData_UpdateServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherData/UpdateServerResponse" message="tns:ILauncherData_UpdateServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherData/GetLatestVersion" message="tns:ILauncherData_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherData/GetLatestVersionResponse" message="tns:ILauncherData_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestExecutable">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherData/GetLatestExecutable" message="tns:ILauncherData_GetLatestExecutable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherData/GetLatestExecutableResponse" message="tns:ILauncherData_GetLatestExecutable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomTre">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherData/GetCustomTre" message="tns:ILauncherData_GetCustomTre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherData/GetCustomTreResponse" message="tns:ILauncherData_GetCustomTre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardTre">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherData/GetStandardTre" message="tns:ILauncherData_GetStandardTre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherData/GetStandardTreResponse" message="tns:ILauncherData_GetStandardTre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILauncherData" type="tns:ILauncherData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServers">
      <soap:operation soapAction="http://tempuri.org/ILauncherData/GetServers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServer">
      <soap:operation soapAction="http://tempuri.org/ILauncherData/UpdateServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/ILauncherData/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestExecutable">
      <soap:operation soapAction="http://tempuri.org/ILauncherData/GetLatestExecutable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomTre">
      <soap:operation soapAction="http://tempuri.org/ILauncherData/GetCustomTre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStandardTre">
      <soap:operation soapAction="http://tempuri.org/ILauncherData/GetStandardTre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LauncherData">
    <wsdl:port name="BasicHttpBinding_ILauncherData" binding="tns:BasicHttpBinding_ILauncherData">
      <soap:address location="http://swganh.hooni.us/LauncherData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>